@import '../style//global/variable.scss';
@import '../style/global/mixin.scss';

// Inheritance
%sub-section-shared {
    h4 {
        text-decoration: underline;
        font-weight: 40;
    }
    p {
        font-style: italic;
    }
}

.about {
    padding: 40px 0;

    > h1 {
        margin-bottom: 50px;
        font-weight: 600;
        text-align: center;
    }
    .react-card-flip {
        .front,
        .back {
            position: relative;
            display: flex;
            justify-content: center;

            .selfie {
                border-radius: $circular-image;
                @include center-item;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .objective {
        margin-top: 40px;

        @extend %sub-section-shared;

        p {
            text-align: justify;
        }
    }
    .education {
        margin-top: 20px;

        @extend %sub-section-shared;
    }
}

@media screen and (min-width: map-get($breakpoints, desktop )) {
    .about {
        .objective,
        .education {
            margin-top: 0;
        }
    }
}
