@import './global/mixin.scss';
@import '../style//global/variable.scss';

.App {
    overflow: hidden;
    transition: all 0.8s;
    position: relative;
    scroll-behavior: smooth;

    @include fade-in;
    @include from-left;
    @include from-right;
    @include increase-height;

    .react-card-flip {
        position: fixed;
        bottom: 4%;
        right: 2%;
        cursor: pointer;
    }
}
