@import './global/variable.scss';

.banner {
    height: 100vh;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    .banner-text {
        align-self: center;

        color: #ffffff;

        h1 {
            font-size: 47px;
        }

        p {
            text-align: center;
            font-size: 20px;
        }
    }
}

@media screen and (min-width: map-get($breakpoints, tablet)) {
    .banner {
        .banner-text {
            h1 {
                font-size: 80px;
            }

            p {
                font-size: 30px;
            }
        }
    }
}

@media screen and (min-width: map-get($breakpoints, desktop)) {
    .banner {
        justify-content: left;

        .banner-text {
            padding-left: 90px;

            h1 {
                font-size: 85px;
            }

            p {
                font-size: 30px;
            }
        }
    }
}
