@import './global/mixin.scss';
@import './global/variable.scss';

.contact {
    padding: $section-tb-padding;
    @include section-title;

    form {
        margin: 0 auto;
        width: 60%;
        overflow: hidden;
        text-align: center;

        .form-group {
            position: relative;

            input,
            textarea {
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: none;
                outline: none;
                // color: #fff;

                &:focus + label span,
                &:valid + label span {
                    font-size: 15px;
                    color: #c0a062;
                }
            }

            input {
                padding-top: 40px;
                &:focus + label span,
                &:valid + label span {
                    transform: translateY(-150%);
                }
            }

            textarea {
                padding-top: 0px;

                &:focus + label span,
                &:valid + label span {
                    transform: translateY(-540%);
                }

                -ms-overflow-style: none;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                }
            }

            label {
                margin: 0;
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;

                &::after {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    border-bottom: 3px solid #c0a062;
                    left: 0;
                    bottom: -1px;
                    transform: translateX(-100%);
                    transition: transform 0.5s ease;
                }
            }

            .label-message {
                bottom: 10px;
            }

            span {
                position: absolute;
                bottom: 5px;
                left: 0;
                transition: all 0.5s ease;
            }

            & input:focus + label::after,
            & input:valid + label::after,
            & textarea:focus + label::after,
            & textarea:valid + label::after {
                transform: translate(0%);
            }
        }

        .name-form-group,
        .email-form-group {
            height: 60px;
        }

        .email-form-group {
            margin-bottom: 50px;
        }

        .message-form-group {
            margin-bottom: 0;
        }
    }

    .contact-submit {
        margin: 30px 0;
        padding: 15px 60px;
        text-decoration: none;
        background-color: #c0a062;
        border-radius: 50px;
        color: #fff;
        border: 0;
    }
}
