@import './global/variable.scss';

.navbar {
    background-color: #131414;

    .nav-toggle {
        border: none;
    }

    .nav-items {
        .nav-item {
            margin-right: 20px;
            font-weight: 600;
            font-size: 20px;
            color: #fff !important;
        }
    }
}

@media screen and (min-width: map-get($breakpoints, desktop )) {
    .navbar {
        background-color: transparent;
        transition: background-color 0.7s ease-in;

        &.active {
            background-color: #131414;
        }
    }
}
