@import './global/variable.scss';

.navbar {
    background-color: #24292e;

    .nav-toggle {
        border: none;
    }

    .nav-items {
        .nav-item {
            margin-right: 20px;
            font-weight: 600;
            font-size: 20px;
            color: white !important;
        }
    }
}

@media screen and (min-width: map-get($breakpoints, desktop )) {
    .navbar {
        background-color: transparent;
    }
}
