@import '../style/global/mixin.scss';
@import '../style/global/variable.scss';

.project-modal {
    z-index: 100000 !important;
    position: absolute;
    top: 3%;
    left: 5%;
    color: #000;

    .close {
        position: absolute;
        color: #000;
        font-size: 30px;
        font-weight: 900;
        right: 15px;
        bottom: 15px;
        cursor: pointer;

        &:hover {
            color: #c0a062;
        }
    }

    img,
    .project-modal-content {
        width: 90vw;
    }

    h2 {
        font-weight: 600;
        font-size: 25px;
    }

    .project-modal-content {
        background-color: #fff;
        padding: 20px;

        .language {
            font-size: 85%;
            font-weight: 400;
        }

        p {
            margin-bottom: 15px;
        }

        ul {
            padding-left: 30px;
        }
    }

    .project-btn-group {
        margin-top: 20px;
        > a {
            margin-right: 15px;
        }

        i {
            padding-right: 5px;

            &:first-child {
                font-size: 18px;
            }
        }

        a {
            color: white;
            text-transform: uppercase;
            padding: 6px 10px;
            background-color: #c0a062;
            border-radius: 5px;
            text-decoration: none;
            font-size: 13.5px;

            &:hover {
                background-color: #a88e5b;
            }
        }
    }
}

@media screen and (min-width: map-get($breakpoints, tablet )) {
    .project-modal {
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: map-get($breakpoints, desktop )) {
    .project-modal {
        img,
        .project-modal-content {
            width: 50vw;
        }

        h2 {
            font-size: 32px;
        }

        .project-btn-group {
            a {
                font-size: 16px;
            }
        }
    }
}
