@import './global/mixin.scss';
@import './global/variable.scss';

.project {
    padding: $section-tb-padding;
    @include section-title;

    .project-container {
        margin: 20px auto;
        position: relative;
    }

    .project-category-container,
    .project-container {
        display: flex;
        justify-content: center;
    }
}
