.project-item {
    padding: 10px;

    .project-card {
        img {
            width: 100%;
            border-radius: 10px 10px 0 0;
            box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2);
            border-top: 1px solid #fffaf0;
            border-right: 1px solid #fffaf0;
            border-left: 1px solid #fffaf0;
        }
        .project-card-body {
            position: relative;
            border-radius: 0 0 10px 10px;
            min-height: 160px;
            padding: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 0 0 10px 10px;
            border-bottom: 1px solid #fffaf0;
            border-right: 1px solid #fffaf0;
            border-left: 1px solid #fffaf0;

            h2 {
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 3px;
            }
            small {
                font-size: 15px;
                font-weight: 400;
            }

            i {
                padding-right: 5px;

                &:first-child {
                    font-size: 18px;
                }
            }

            a {
                position: absolute;
                right: 15px;
                bottom: 15px;
                text-transform: uppercase;
                color: #000 !important;
                padding: 6px 10px;
                background-color: #c0a062;
                border-radius: 5px;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    background: lighten(#c0a062, 2.5);
                    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
                    transform: translateY(-4px);
                    transition: all 0.25s 0s ease-out;
                }
            }
        }
    }

    .modal-background {
        overflow: auto;
        position: fixed; /* Stay in place */
        z-index: 5000 !important;
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        background: rgba(0, 0, 0, 0.8);
    }
}
