@mixin center-item {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@mixin section-title {
    > h1 {
        margin-bottom: 50px;
        font-weight: 600;
        text-align: center;
    }
}

// @mixin rotate-360-inf {
//     @keyframes rotating {
//         from {
//             -ms-transform: rotate(0deg);
//             -moz-transform: rotate(0deg);
//             -webkit-transform: rotate(0deg);
//             -o-transform: rotate(0deg);
//             transform: rotate(0deg);
//         }
//         to {
//             -ms-transform: rotate(360deg);
//             -moz-transform: rotate(360deg);
//             -webkit-transform: rotate(360deg);
//             -o-transform: rotate(360deg);
//             transform: rotate(360deg);
//         }
//     }

//     -webkit-animation: rotating 10s linear infinite;
//     -moz-animation: rotating 10s linear infinite;
//     -ms-animation: rotating 10s linear infinite;
//     -o-animation: rotating 10s linear infinite;
//     animation: rotating 10s linear infinite;
// }
